{% extends "demo/base.html" %}
{% load static %}
{% block title %}Home{% endblock title %}
{% block header %}

{% endblock header %}

{% block content %}
    <p>This resource is devoted to demonstrate some applications written on Python - this is where the name of the website comes: "Python demo".</p>
    <p>Some of the applications can be interesting just to play with, some of them - even useful (I hope sincerely) </p>
    <div style="width:80%">Applications currently deployed:
    <ul>
        <li><strong>Style_transfer.</strong> Generating a new image by combining the content of one image with the style of another image</li>
        <li><strong>Price_prediction.</strong> ML-model predicting a price for countryhouses, houses & cottages</li>
        <li><strong>Word_helper.</strong> Online assistant for crossword lovers. Word selection by user template (coming soon)</li>
    </ul>
</div>

    <p>If you find something interesting for you personaly, or get a glitch, or just want to share your thoughts/opinion, welcom to contact form. </p>
    
{% endblock content %} 